* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: arial;
}
header nav ul {
  margin-top: 16px;
  text-align: right;
}
header nav ul li {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
}
header nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav ul li img {
  border-radius: 20px;
}
main section {
  width: 585px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
  margin-right: auto;
  margin-left: auto;
}
main section input {
  width: 100%;
  padding: 13px;
  margin: 30px 0px;
  border-radius: 25px;
  border: 1px solid #d4d4d4;
  outline: none;
}
main section input:hover{
  box-shadow: 0px 0 4px 2px #0000002b;
}
main button {
  cursor: pointer;
  padding: 7px 10px;
  border: 1px solid transparent;
  background-color: #f8f9fa;
}
main button:hover {
  border: 1px solid #d4d4d4;
}
section p {
  margin: 20px;
}
section p a {
  text-decoration: none;
}
section p a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f8f9fa;
  color: #75757a;
  font-size: 14px;
}
footer .nav {
  padding: 16px 0;
}
footer .nav:after{
  content:'';
  display:block;
  clear:both;

}
footer .country {
  border-bottom: 1px solid #bbbbbb;
  padding: 16px;
}
footer ul li {
  display: inline-block;
  padding: 0 8px;
}
footer a {
  text-decoration: none;
  color: #75757a;
  padding:16px;
}
footer a:hover {
  text-decoration: underline;
}
footer .nav .left{
  float:left;
  width:50%;
}
footer .nav .right{
  float:left;
  width:50%;
  text-align:right;
}

